:root {
    box-sizing: border-box;
    font-size: 0.7em;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body * + * {
    margin-top: 1.5em;
}


/* Container-Content */

.body {
    align-items: center;
    background-color: hsl(222, 26%, 31%);
    color: white;
    display: flex;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100vh;
    justify-content: center;
    max-height: 100vh;
    max-width: 100%;  
}

.body-wrap {
    margin: 1.5em 1em;
    width: 90%;
    max-width: 27em;
}

.theme-wrap {
    display: flex;
    font-size: 0.9rem;
}

.theme {
    align-self: flex-end;
    padding-right: 2rem;
    padding-bottom: .5rem;
}

.toggle {
    display: flex;
    flex-direction: column;
}

.toggle-spans {
    display: flex;
    justify-content: space-around;
    padding-bottom: .3rem;
}

.toggle-bar {
    align-items: center;
    background-color: hsl(223, 31%, 20%);
    border-radius: 50px;
    display: flex;
    height: 2em;
    padding: 0 0.5em;
    width: 5.7em;
}

.toggle-ball {
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
}

.calc-screen {
    background-color: hsl(224, 36%, 15%);
    height: 4.5em;
}

.calc-body {
    background-color: hsl(223, 31%, 20%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 3.05em, 1fr));
    grid-auto-rows: 3.3em;
    gap: .6em;
    margin-top: 1em;
    padding: 1.2em 1em;
}

.reset {
    grid-column: 1/3;
}

.equals {
    grid-column: 3/5;
}


.btn {
    background-color: hsl(30, 25%, 89%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.25rem hsl(28, 16%, 65%);
    color:hsl(222, 26%, 31%);
    display: block;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5em;
}

.delete,
.reset {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 0.25rem hsl(224, 28%, 35%);
    color: white;
    font-size: 1.5rem;
}

.equals {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 0.25rem hsl(6, 70%, 34%);
    color: white;
}

/* Structure/ Skin */

.header {
    display: flex;
    justify-content: space-between;
}

.toggle-spans > span + *,
.calc-body > button + *,
.theme-wrap,
.toggle,
.toggle-bar {
    margin-top: 0;
}

.logo, 
.theme {
    margin: 0;
}

.caps {
    text-transform: uppercase;
}

.small-curve {
    border-radius: 7px;
}

.span {
    display: block;
}


@media (min-width: 23.75rem) {
    :root {
        font-size: 0.8em;
    }

    .calc-body {
        gap: .75em;
    }

}

@media (min-width: 27.8rem) {
    .root {
        font-size: 1em;
    }

    .calc-body {
        grid-template-columns: repeat(auto-fit, minmax( 3.7em, 1fr));
        padding: 1.5em 1.2em;
        row-gap: 1.2em;
        
    }
}

@media (min-width: 31.25rem) {
    .calc-body {
        grid-template-columns: repeat(auto-fit, minmax(4.5em, 1fr));
        gap: 1.3em .9em;
        
    }
}
